{% extends 'basic_app/base.html'%}
{% block body_block %}
<div class="jumbotron" style="font-family: 'Josefin Slab', serif;">
  <br>
  <br>
  <h1 class="typewriter" style="color:blue;padding:0px 0px 0px 400px;"><b><u>Contact Details</u></b></h1>
  <br>
  <img src="https://avatars2.githubusercontent.com/u/40141937?s=460&v=4" alt="" width="300" height="300" style="border-radius: 50%;">
  <h3>Amit Jena(CoFounder and CTO) : 8280010064</h3>
  <br>
  <img src="https://pps.whatsapp.net/v/t61.24694-24/55963433_291180731819642_298850047863291904_n.jpg?oe=5D1D8AA7&oh=241743dad95f340e5dfd76dfdb108db7" alt=""width="300" height="300" style="border-radius: 50%;">
  <h3>Shruti Sagar(CoFounder and Marketing Head) : 6371872591</h3>
  <br>

      <img src="https://media.tenor.com/images/be4089f56f1b467ec72ccb65ff0fe8eb/tenor.gif" alt="Paris" style="padding:0px 0px 0px 400px;">



  <a href="https://goo.gl/maps/spa3HFvwTFQFK1rf8" ><h4 style="padding:0px 0px 120px 400px;">Our address details!</h4></a>
</div>

{% endblock %}
